.input_todo {
  width: 200px;
  height: 30px;
  border: 0;
  border-bottom: 1px solid #000;
  vertical-align: top;
}

.btn_add {
  height: 30px;
  margin: 1px 0 0 10px;
  padding: 7px;
  vertical-align: top;
  background-color: #ff6347;
  color: #fff;
}
