.container {
  padding: 20px;

  .title {
    margin-bottom: 40px;
  }

  .wrap {
    display: flex;

    .nav_area {
      min-width: 200px;
    }

    .contents_area {
      width: 100%;
      padding-left: 50px;
    }
  }
}
